<div class="row">
    <form (ngSubmit)="register_user(userForm)" #userForm="ngForm">
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">
                        <input type="file" name="farmers_photo" id="farmers_photo">
                        <h3>Farmers Photo</h3>
                  </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="farmers_name" name="farmers_name" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="id_number" name="id_number" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="field_name" name="field_name" ngModel>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="no_of_trees" name="no_of_trees" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="crop_type" name="crop_type" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="age_crop" name="age_crop" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="field_area" name="field_area" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="phone_number" name="phone_number" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="whatsapp_number" name="whatsapp_number" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="alternate_number" name="alternate_number" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="house_address" name="house_address" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="land_mark" name="land_mark" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="adhaar_card" name="adhaar_card" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="village_name" name="village_name" ngModel>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="mmandal_name" name="mmandal_name" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="district_name" name="district_name" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="state_name" name="state_name" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="country_name" name="country_name" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="pincode" name="pincode" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="prefer_language" name="prefer_language" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="phone_type" name="phone_type" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="education" name="education" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="photo_id" name="photo_id" ngModel>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="address_proof" name="address_proof" ngModel>
            </div>
            
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>
    </form>
</div>